.transparent_tooltip {
  background: rgba(255, 255, 255, 0);
  /* background: transparent; */
  /* border: 1px solid red; */
  border-color: rgba(255, 255, 255, 0);
  box-shadow: none;
}

.transparent_tooltip::before {
  border: none;
}
